{# forms.twig #}
{# ##########################
   template macro para formularios
    : exemplo :
    # template #
    {% import 'forms.twig' as forms %}
    {{ forms.input('username') }}
    {{ forms.input('password', 'password', none) }}
    
########################## #} 
{% macro input(name, type, class, value) %}
    <label>
        {{ name }}
    </label>
    <input 
        name="{{ name }}" 
        class="{{ class|default('input-large') }}" 
        type="{{ type|default('text') }}"
        value="{{ value|default('') }}"
    />
{% endmacro %}
